<!DOCTYPE html>
<html>
<head>
  <!-- <script>
  function isIE()
  {
      var isIE11 = navigator.userAgent.indexOf(".NET CLR") > -1;      
      var isIE11orLess = isIE11 || navigator.appVersion.indexOf("MSIE") != -1;
      return isIE11orLess;
  }
  if(isIE()){
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "bower_components/webcomponentsjs/webcomponents.js";
    document.head.appendChild(script);
    console.log("yo");
  } else {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "bower_components/webcomponentsjs/webcomponents-lite.min.js";
    document.head.appendChild(script);
  }
  </script> -->
  <title><%- htmlWebpackPlugin.options.metadata.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">-->
  <base href="/">  

  <script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>


<!-- imported CSS are concatenated and added automatically -->
<link href="//fonts.googleapis.com/css?family=PT Sans Caption" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Habibi" rel="stylesheet">
<link rel="import" href="includes.html">

</head>
<body aurelia-app="main">

  <div class="splash">
    <div class="message"><%- htmlWebpackPlugin.options.metadata.title %></div>
    <i class="fa fa-spinner fa-spin"></i>
  </div>
  <% if (htmlWebpackPlugin.options.metadata.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
  </body>
  </html>
